   <!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Todoリスト</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body><header th:replace="_temp :: header"></header>
  <div style="padding: 10px; margin-bottom: 10px; border: 1px solid #333333; border-radius: 10px;">
  <form action="#" th:action="@{/{id}(id=*{id})}"  th:method="put">
	      <p>名前を入力: <input type="text" th:field="*{todo.todoName}" /></p>
    	 <p>期限を設定: <input type="text" th:field="*{todo.todoDeadline}" /></p>
    	 <p>完了、未完了: <input type="text" th:field="*{todo.did}"  placeholder="TrueかFalseを書いてください。"/>TrueかFalseを書いてください。</p>
    <button type="submit">更新する</button>
    </form>
    
   
    </div>
    </body>
</html>